# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data (keep out of git — large files)
data/raw/
data/interim/
data/processed/

# Models (binary, large)
models/*.pkl

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/